#course {
	display: inline-block;
	vertical-align: top;
	width: 550px;	
}
#module {
	height: 280px;
}
#course_properties {
	width: 50%;
	display: inline-block;
	padding: 0;
	position: absolute;
	bottom: 20px;
}
#instances {
	width: 50%;
	display: inline-block;
	position: absolute;
	top: 175px;
	right: 20px;
}
#instances small {
	font-size: 0.7em;
}
#instancelist {
	padding-left: 10px;
	padding-top: 5px;
}
#instancelist li {
	list-style: none;
	height: 30px;
}
#bookButton {
	float: right;
	padding-top: 3px;
	padding-bottom: 3px;
	position: relative;
	bottom: 3px;
}
#interestButton {
	padding-top: 3px;
	padding-bottom: 3px;
}


#course_properties li {
	list-style: none;
	display: inline;
	margin-right: 15px;
	margin-left: 5px;
}
#course_properties li img {
	display: inline-block;
	margin: 0;
}
#noInstances {
	padding-top: 5px;
	text-align: center;
}
#coursesTopBlock {
	height: 300px;
}
#coursesTopBlock p {
	display: inline-block;
	min-width: 30%;
	max-width: 50%;
	padding-left: 50px;
	padding-top: 40px;
	padding-right: 10px;
}
#coursesTopBlock img {
	display: inline-block;
	max-width: 50%;
	float: right;
	min-width: 20%;
}
